@import "tailwindcss";

@tailwind utilities;

.bg-triangles {
    background-image: url("/bg.svg");
    background-position: center;
    background-repeat: repeat;
    
}

.bg-logo {
    background-image: url("/logo.svg");
    background-position: center;
    background-size: cover;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    30% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    50% {
        transform: scale(3);
        opacity: 0.2
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.animate-ripple {
    animation: ripple 0.6s ease-out;
}