@import "tailwindcss";

@tailwind utilities;

.bg-triangles {
    background-image: url("/bg.svg");
    background-position: center;
    background-repeat: repeat;
    
}

.bg-logo {
    background-image: url("/logo.svg");
    background-position: center;
    background-size: cover;
}
