@import "tailwindcss";

@tailwind utilities;


.bg-triangles {
    background-image: url("/bg.svg");
    background-position: center;
    background-repeat: repeat;
}

.bg-logo {
    background-image: url("/logo.svg");
    background-position: center;
    background-size: cover;
}

.scrollbar-hide {
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

#email:-webkit-autofill,
#email:-webkit-autofill:hover,
#email:-webkit-autofill:focus,
#email:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-out 0s;
}

@layer utilities {
    
    html, body {
        cursor: url("/cursors/mouse-pointer-2.svg") 4 4, auto !important;
    }
    .signout, .auth-pointer, .checkbox-pointer, .flip-card, .scroll-to-top-btn, .active-button, a, [role="button"] {
        cursor: url("/cursors/pointer.svg") 4 4, auto !important;
    }
    input {
        cursor: url("/cursors/text-cursor.svg") 4 4, auto !important;
    }
    .banned-button {
        cursor: url("/cursors/ban.svg") 4 4, auto !important;
    }
    .carousel {
        cursor: url("/cursors/hand-grab.svg") 4 4, auto !important;
    }
}